<div *ngIf="(auth.isAuthenticated$ | async) === false; else loaded">
  <mat-card style="padding: 1rem">
    <mat-card-title>Welcome to buzz parts!</mat-card-title>
    <mat-card-subtitle>Please login to continue...</mat-card-subtitle>
  </mat-card>
</div>

<ng-template #loaded>
  <mat-card *ngIf="auth.user$ | async as user" style="padding: 1rem">
    <mat-card-title>Logged in as: {{ user.nickname }}</mat-card-title>
    <mat-card-subtitle>Mail: {{ user.email }}</mat-card-subtitle>
  </mat-card>
</ng-template>
